body   
{  
height: 125vh;  
margin-top: 80px;  
padding: 30px;  
background-size: cover;  
font-family: sans-serif;  
background-color: lightblue;
}  
h1 {
   font-family: sans-serif;
   font-weight: bold;
}
header {  
background-color: lightblue;  
position: fixed;  
left: 0;  
right: 0;  
top: 5px;  
height: 30px;  
display: flex;  
align-items: center;  
box-shadow: 0 0 50px 0 blue;  
}  
header * {  
display: inline;  
}  
header li {  
margin: 20px;  

} 
li :hover{color:black;} 

header li a {  
color: blue;  
text-decoration: none;  }
#country{
    text-align: center;
    display: block;
    margin: 0 auto;
    background-color: lightblue;
}
#searchInput{
  text-align: center;
  display: block;
  margin: 0 auto;
  margin-bottom:20px;;
}
p{
    width:200px;
  margin: 0 auto;
  font-weight: bold;
}

.wrapper {
    width: 1000px;
    margin: 5% auto;
    color:blue;
    text-align:center;
    
    }
    
    
    
    #seconds, #tens{
      font-size:80px;
    }
    
    button{
    
    background:lightblue;
    color:blue;
    border: solid 1px white;
    text-decoration:none;
    cursor:pointer;
    font-size:1.2em;
    padding:18px 10px;
    width:180px;
    margin: 10px;
     outline: none;
    height:80px;}

    button:hover{background-color:white;}
        
        
    
    #sw {
        font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 60px;
  text-transform: uppercase;
    }
 
table{
    margin:auto;

}
td{
width:100px;
height:80px;
}
tr{
 width:100px;
 height:80px;
}
#hours, #minutes{
     width:80px;
     height:25px;
}
#sound{
    width:200px;
}
#title{
    width:250px;
    height:30px;
}
.buttonalarm{
    width: 150px;
    height:45px;
    cursor:pointer;
    text-align: center;
    margin:auto;
    
}
.custom-select {
  position: relative;
  display: inline-block;
  margin-left:20px;
  
}

.select-input {
  width: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.select-dropdown {
  position: absolute;
  width: 100%;
  max-height: 150px;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0 0 5px 5px;
}

.select-option {
  display:none;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.select-option:hover {
  background-color: #f2f2f2;
}

#countrytable{
  margin-top: 0;
  top:0;
  margin-left:50%;
}

#hours-select,#minutes-select,#seconds-select{
  width:80px;
  font-size:large;
}
#timer-display{
  text-align: center;
  line-height: 200px; 
  font-size: 56px; 
  height: 200px; 
}